ng-template,h2{
  text-align: center;

}
button.rst{
  display: flex;
  justify-content: center;
  margin: auto;
}
ul {display: flex;
  list-style-type: none;
  justify-content: center;
  overflow: hidden;
}
li {
  float: left;
  margin-left: 10px;
  margin-top: 20px;
}
.btn-group{
  margin-left: 500px;
  margin-right: 500px;
}
